This notebook is originally created by Justin Kinney from https://github.com/jbkinney/19_urp and has been modified by Ben Harris for the 2021 version of the course

# Notebook 4: Pandas and TF binding site analysis

Here we will start using Pandas. Pandas is the standard way of working with columnar data. However, there is a substantial learning curve. If you want to learn more about Pandas, here is a useful site: http://pandas.pydata.org/

Here we will use Pandas to analyze transcription factor (TF) binding sites from *Escherichia coli*. We will first focus on CRP, a major regulator in *E. coli* with over 350 functional binding sites.

## Introduction

Pandas is a library for working with tabular data. I was orignally based on the R data.frame library, but with a slightly different grammer and some different functionality. 

It also can feel really similar to working in SQL.

There are two main types of objects in Pandas.

### Let's orient ourselves with the objects:

1) `pd.Series`
 * A single column of data
 * Contains rownames but no column name, the rownames are always reffered to as `pd.Series.index`
 * Can have an attribute `pd.Series.name` that can serve as the column name
 * Works a lot like a python dictionary

<img src='https://pandas.pydata.org/docs/_images/01_table_series.svg'>

2) `Dataframe`

* A 2-D object
* Each individual column is a Series
* Now it has row (index) and column names
* The orientation of rows vs columns matters a lot
* Generally, you want features as columns and observations as rows


<img src='https://pandas.pydata.org/docs/_images/01_table_dataframe.svg'>


### What are features and Observations?

In [10]:
!pip -q install palmerpenguins
from palmerpenguins import load_penguins
load_penguins().sample(frac=.2)

       species     island  bill_length_mm  ...  body_mass_g     sex  year
10      Adelie  Torgersen            37.8  ...       3300.0     NaN  2007
258     Gentoo     Biscoe            41.7  ...       4700.0  female  2009
242     Gentoo     Biscoe            47.5  ...       4950.0  female  2009
51      Adelie     Biscoe            40.1  ...       4300.0    male  2008
237     Gentoo     Biscoe            50.8  ...       5600.0    male  2009
..         ...        ...             ...  ...          ...     ...   ...
331  Chinstrap      Dream            52.2  ...       3450.0    male  2009
118     Adelie  Torgersen            35.7  ...       3350.0  female  2009
112     Adelie     Biscoe            39.7  ...       3200.0  female  2009
82      Adelie  Torgersen            36.7  ...       3800.0  female  2008
63      Adelie     Biscoe            41.1  ...       4050.0    male  2008

[69 rows x 8 columns]

Features are variables, they are the things you measure, whether that be quantitatively or qualitatively

While observations are each data point, in this case it is each penguin
### Things we need to learn 
1) How to create a pandas object/ read data in

2) How to subset your data

3) How to manipulate/mutate your data to create more data

4) How to Summarize or aggregate your data



## Preparing Code 1

In [15]:
## This is needed everytime you run this if you run on google colab
!pip -q install logomaker

In [12]:
# Put this first
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Import logomaker; we will use this later for visualizing TF motifs.
import logomaker

In [13]:
# We will be analyzing a standing database of TF binding sites, which is available on RegulonDB. 
# Here is a command for downloading this file (this didn't work in lecture 1)
!wget -O data/binding_site_db.txt http://regulondb.ccg.unam.mx/menu/download/datasets/files/BindingSiteSet.txt

--2021-06-16 23:11:50--  http://regulondb.ccg.unam.mx/menu/download/datasets/files/BindingSiteSet.txt
Resolving regulondb.ccg.unam.mx (regulondb.ccg.unam.mx)... 132.248.34.160
Connecting to regulondb.ccg.unam.mx (regulondb.ccg.unam.mx)|132.248.34.160|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1288586 (1.2M) [text/plain]
Saving to: ‘data/binding_site_db.txt’

data/binding_site_d 100%[===================>]   1.23M   442KB/s    in 2.8s

2021-06-16 23:11:53 (442 KB/s) - ‘data/binding_site_db.txt’ saved [1288586/1288586]

In [14]:
# Let's see what this database looks like
!head -n 50 data/binding_site_db.txt

# Copies and Copyright-Notice
#
#      RegulonDB is free for academic/noncommercial use
#
#      User is not entitled to change or erase data sets of the RegulonDB
#      database or to eliminate copyright notices from RegulonDB. Furthermore,
#      User is not entitled to expand RegulonDB or to integrate RegulonDB partly
#      or as a whole into other databank systems, without prior written consent
#      from CCG-UNAM.
#
#      Please check the license at http://regulondb.ccg.unam.mx/menu/download/full_version/terms_and_conditions.jsp
#
# Citation
#
#      Santos-Zavaleta A et al. (2019). RegulonDB v 10.5: tackling challenges to unify classic and high throughput knowledge of gene regulation in E. coli K-12.,
#      Nucleic Acids Res. 2019 Jan 8;47(D1):D212-D220. doi: 10.1093/nar/gky1077.
#
#
# Contact
#
#      Person: RegulonDB Team
#      Web Page: http://regulondb.ccg.unam.mx/menu/about_regulondb/contact_us/index.jsp
#          (regulondb@ccg.unam.mx)
#
#
# Release: 10.8 Date: 10/12/2020
# Genome version: U00096.3, Refseq version: NC_000913.3; GI:556503834
# ___________________________________________________________________________
# Columns:
# (1) Transcription Factor (TF) identifier assigned by RegulonDB
# (2) TF name
# (3) Confornation name
# (4) TF binding site (TF-bs) identifier assigned by RegulonDB
# (5) TF-bs left end position in the genome
# (6) TF-bs right end position in the genome
# (7) DNA strand where the  TF-bs is located
# (8) TF-Gene interaction identifier assigned by RegulonDB (related to the "TF gene interactions" file)
# (9) Transcription unit id regulated by the TF
# (10) Transcription unit name regulated by the TF
# (11) Gene expression effect caused by the TF bound to the  TF-bs (+ activation, - repression, +- dual, ? unknown)
# (12) Promoter name
# (13) Center position of TF-bs, relative to Transcription Start Site
# (14) TF-bs sequence (upper case)
# (15) Distance to first gene
# (16) Evidence that supports the existence of the TF-bs
# (17) Evidence confidence level (Confirmed, Strong, Weak)
ECK125286586	AccB	AccB	ECK125258258	NA	NA	forward	ECK125257898	ECK120009421	accBC	-	accBp				[GEA|W|Gene expression analysis],[IMP|W|Inferred from mutant phenotype],[CV(GEA)|S|cross validation(GEA)]	Strong
ECK120015994	AcrR	AcrR	ECK125202663	1619048	1619058	forward	ECK125202664	ECK120009381	marRAB	-	marRp	-40.5	catcggtcaaTTCATTCATTTgacttatact	-67.5	[GEA|W|Gene expression analysis],[CV(GEA)|C|cross validation(GEA)],[BPP|S|Binding of purified proteins],[APIORCISFBSCS|W|A person inferred or reviewed a computer inference of sequence function based on similarity to a consensus sequence.],[CV(GEA)|S|cross validation(GEA)]	Confirmed
ECK120015994	AcrR	AcrR	ECK125242724	1978422	1978432	reverse	ECK125242725	ECK120009328	flhDC	-	flhDp	-31.5	agcccccctcCGTTGTATGTGcgtgtagtga	-229.5	[GEA|W|Gene expression analysis],[APIORCISFBSCS|W|A person inferred or reviewed a computer inference of sequence function based on similarity to a consensus sequence.],[CV(GEA)|S|cross validation(GEA)]	Strong
ECK120015994	AcrR	AcrR	ECK120035040	2313112	2313135	forward	ECK120035041	ECK120008981	micF	-	micFp	41	atttattaccGTCATTCATTTCTGAATGTCTGTTtacccctatt	41	[AIBSCS|W|Automated inference based on similarity to consensus sequences]	Weak

## Reading data

When you store your data as a file you can use one of the `pd.read_*` functions to read in data from a variety of different file types

Then to save your progress you can write using `pd.DataFrame.write_*`

<img src='https://pandas.pydata.org/docs/_images/02_io_readwrite.svg'>


There are quite a lot of file types, and they all have their pros/cons. The simpliest ones are `.csv` and `.txt` these are known as flat files and are what we are using today

In [16]:
# To parse this file, use Pandas's method read_csv. 
# We pass the name of this file, as well as other keyword arguments:
#     sep='\t': columns are delimited by tabs
#     comment='#': ignore rows that begin with this
#     header=None: the first row is NOT the name of the columns
# The results are stored as an object known as a dataframe
df = pd.read_csv("data/binding_site_db.txt", sep='\t', comment='#', header=None)
type(df)

pandas.core.frame.DataFrame

In [17]:
# To check that the data has been properly loaded, call the method df.head()
df.head()

             0   ...         16
0  ECK125286586  ...     Strong
1  ECK120015994  ...  Confirmed
2  ECK120015994  ...     Strong
3  ECK120015994  ...       Weak
4  ECK120015994  ...  Confirmed

[5 rows x 17 columns]

In [18]:
# You get the number of rows and columns from the attribute df.shape
df.shape

(3703, 17)

In [19]:
# We only want the TF name (column 1) and the TF binding site sequence (column 11)
# To keep only these columns, index the df using a list of column names you want (in the order you want)
col_names = [1,11]
df = df[col_names]
df.head()

     1      11
0  AccB  accBp
1  AcrR  marRp
2  AcrR  flhDp
3  AcrR  micFp
4  AcrR  soxRp

In [20]:
# Data frames allow users to give columns meaningful names.
# To rename the columns, set df.columns to a list of the desired names.
df.columns = ['tf','site']
df.head()

     tf   site
0  AccB  accBp
1  AcrR  marRp
2  AcrR  flhDp
3  AcrR  micFp
4  AcrR  soxRp

In [21]:
# We see that some TF sites are listed as NaN. 
# Let's use the dropna() method to get rid of these rows.
df = df.dropna()
df.head()

     tf   site
0  AccB  accBp
1  AcrR  marRp
2  AcrR  flhDp
3  AcrR  micFp
4  AcrR  soxRp

In [22]:
# Note that the last three modifications of df can be accomplished in one line 
df = pd.read_csv("data/binding_site_db.txt", sep='\t', comment='#',
                 header=None, usecols=[1,11], names=['tf','site']).dropna()
df.head()

     tf   site
0  AccB  accBp
1  AcrR  marRp
2  AcrR  flhDp
3  AcrR  micFp
4  AcrR  soxRp

In [23]:
# Check out the pd.read_csv() documentation for a full list
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: Union[ForwardRef('PathLike[str]'), str, IO[~T], io.RawIOBase, io.BufferedIOBase, io.TextIOBase, _io.TextIOWrapper, mmap.mmap],
    sep=<object object at 0x10618b9d0>,
    delimiter=None,
    header='infer',
    names=None,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=None,
    mangle_dupe_cols=True,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal: str = '.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    dialect=None,
    error_bad_lines=True,
    warn_bad_lines=True,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
    storage_options: Union[Dict[str, Any], NoneType] = None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are ``None`` or 'high' for the ordinary converter,
    'legacy' for the original lower precision pandas converter, and
    'round_trip' for the round-trip converter.

    .. versionchanged:: 1.2

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc., if using a URL that will
    be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
    will be raised if providing this argument with a non-fsspec URL.
    See the fsspec and backend storage implementation docs for the set of
    allowed keys and values.

    .. versionadded:: 1.2

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      ~/miniconda3/lib/python3.7/site-packages/pandas/io/parsers.py
Type:      function

In [24]:
# Dataframe columns are called 'Series' objects. 
# Essentially, they're numpy arrays with some extra sugar.
col = df['tf']
col.head()

0    AccB
1    AcrR
2    AcrR
3    AcrR
4    AcrR
Name: tf, dtype: object

In [25]:
# You can extract an element from a dataframe by using .loc[]
df.loc[3,'site']

'micFp'

Our goal is to generate sequence logos that represents the binding preferences of TFs in this database.  As a concrete example we'll use CRP, which has a well-characterized binding motif shown here:

<img src="./data/crp_information_logo.png" alt="Drawing" style="width: 700px;"/>

## Subsetting dataframe

In the Zen of Python they say **There should be one-- and preferably only one --obvious way to do it.**

Unfortunately when it comes to subsetting rows and columns in pandas that is not the case

<img src='https://pandas.pydata.org/docs/_images/03_subset_columns.svg' width='700px'>

<img src='https://pandas.pydata.org/docs/_images/03_subset_rows.svg' width='700px'>

In [26]:
# Choose a TF
tf = 'CRP'

# Flag which rows in the dataframe have the correct TF name
flags = (df['tf']==tf)
flags

0       False
1       False
2       False
3       False
4       False
        ...
3698    False
3699    False
3700    False
3701    False
3702    False
Name: tf, Length: 3703, dtype: bool

In [27]:

# Grab those rows. To be safe use copy() to make sure that, if we
# alter tf_df, df itself doesn't change
tf_df = df[flags].copy()
tf_df.head()

      tf    site
324  CRP    rmfp
325  CRP  ompAp1
326  CRP    agpp
327  CRP  putPp4
328  CRP  putPp4

Selecting rows by a boolean vector, like `flags` is basically the only way I ever subset my rows. When you store rows as observations this is generally the case because you usually are **filtering** the rows based on a specific feature.

### All the ways to subset DataFrames

#### Rows
By boolean : `df[BOOLEAN_VECTOR]` 

By name : `df.loc[LIST_OF_ROW_NAMES, :]`

By Location : `df.iloc[LIST_OF_INTEGERS, :]`



With a function `df.query('COLUMMN==value')` (This one is quite advanced, see [this tutorial for more](https://www.sharpsightlabs.com/blog/pandas-query/))
#### Columns
By boolean : `df.loc[:,BOOLEAN_VECTOR]`

By name** : `df[LIST_OF_COLUMN_NAMES]`

By Location : `df.iloc[:,LIST_OF_INTEGERS]`

With a function : `df.filter(LOTS_OF_OPTIONS)` (This one is quite advanced, see [this tutorial for more](https://www.sharpsightlabs.com/blog/pandas-filter/))

In [ ]:
# Each DNA binding site should be capitalized.
# To do this, we reset 'site' column of tf_df

# Get list of capitalized sites and replace the 'site' column with this
capitalized_sites = [site.upper() for site in tf_df['site']]
tf_df['site'] = capitalized_sites
tf_df.head()

In [ ]:
# In order to derive a motif, all sites we analyze need to be the same length.
# It's good to check that this is actually the case.
# We therefore add a column to tf_df listing the length of each site

# Compute the length of each site and record this in a 'length' column
site_lengths = [len(site) for site in tf_df['site']]
tf_df['length'] = site_lengths
tf_df.head()

## Exercises, part 1

**E4.1.** Use the `unique()` method to determine the lengths of the listed TF binding sites.

In [ ]:
# Answer here

**E4.2.** Apparently these sites have a bunch of different lengths. For a better understanding of this, write a `for` loop to determine how many sites there are of each length.

In [ ]:
# Answer here

## Part 2

In [ ]:
# The 'groupby' method provides a much more convenient way to
# tally up different binding site lengths -- as well as to do a 
# whole host of other computations on data frames. 
tf_df.groupby('length').count()

In [ ]:
# Use the mode() method to compute the most common binding site length
# Note that mode() returns a tuple, of which we need to manually extract the first element
length_mode = tf_df['length'].mode()[0]
length_mode

In [ ]:
# Flag rows having sites of the chosen length
flags = (tf_df['length']==length_mode)

# Only keep these rows
tf_df = tf_df[flags]
tf_df.head()

In [ ]:
# Now extract the 'site' column from tf_df
sites = tf_df['site']
sites.head()

In [ ]:
# Using logomaker.alignment_to_matrix function, compute the number of times each base occurs at each position
# Note that this returns a dataframe
counts_mat = logomaker.alignment_to_matrix(sites)
counts_mat.head()

In [ ]:
# This counts matrix can be visualized as a sequence logo
logomaker.Logo(counts_mat)

## Exercises, part 2

**E4.3.** Counts logos shown above aren't what people use in publications. Rather, they typically use "information" logos, like the one shown earlier. By making use of the keyword argument  `to_type='information'` in the function `logomaker.alignment_to_matrix()`, create a CRP information logo.

In [ ]:
# Answer here

**E4.4.** Using the `.groupby()` and `.sort_values()` methods of the dataframe `df`, create a new dataframe that lists the number of binding sites for each TF, sorted from most sites to least sites. You will need to set two keyword arguments in `.sort_values()`: `by='site'` and `ascending=False`.

In [ ]:
# Answer here

**E4.5.** Fill out the function below so that the user can pass the name of any TF and get list of aligned sites back. Test that it works, e.g. on `tf='FNR'`, by getting a list of sites and making an information logo. Also test that it fails when it is supposed to.

In [ ]:
# Now let's turn this into a function 
def get_tf_sites(tf):
   
    # Load database
    df = pd.read_csv("data/binding_site_db.txt", sep='\t', comment='#',
                 header=None, usecols=[1,11], names=['tf','site']).dropna()
    
    # 
    # Fill in stuff here
    # 
    
    # Get sequence alignment and return it
    return tf_df['site']